.eq-cols{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
img.card-img-top {
  max-height: 20em;
  width: auto;
}
video.card-img-top {
  width: 100% !important;
  height: auto;
}
.media-card {
  text-align: center;
}
